@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    width: auto;
    padding: 30px;
}

header a#titulo {
    color: rgb(209, 65, 94);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

header a#titulo:hover {
    color: black;
    transition-duration: .5s;
}

header nav {
    background-color: rgb(255, 255, 255);
    width: auto;
    text-align: right;
}

header nav a {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    color: rgb(209, 65, 94);
    border-radius: 4px;
    transition-duration: .5s;
}

section {
    
}

section img {
    padding-left: 50px;
    max-width: 300px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.164);
}

main article {
    background-color: white;
}
